* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional: Makes managing element sizes easier */
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

.header-left{
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px;
    padding-left: 225px;
    font-weight: 900;
}

.header-right{
    display: flex;
    color: #E5E7EB;
    gap: 24px;
    font-size: 18px;
    padding-right: 225px;
    }

.information{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-family: "Roboto", sans-serif;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

.left-information{
    flex:1;

}

.right-information{
    display: flex;
    flex:1;

}

.hero-information{
    font-size: 48px;
    color: #F9FAF8;
    padding: 20px 0px 5px 125px;
    padding-left: 225px;
    font-weight: 900;
}

.subtext-information{
    font: 18px;
    color: #E5E7EB;
    width: 630px;
    padding: 0px 0px 10px 225px;
}

.sign-up{
    margin-left: 225px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius:8px;
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 900;
}

.image-information{
    color: #E5E7EB;
    background-color: grey;
    padding: 100px 120px;
}

